* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

section {
  margin: 150px auto;
}

.bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.8)
    ),
    url("./img/bg-header-mobile.png") top/cover no-repeat;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.clipboard-logo {
  padding-bottom: 20px;
}

h1,
h2,
p {
  text-align: center;
}

h1,
h2 {
  padding-top: 30px;
}

p {
  color: hsl(201, 11%, 66%);
  padding: 20px;
  line-height: 1.7;
  font-size: 1.05rem;
}

span {
  display: block;
}

.devices {
  max-width: 320px;
  display: block;
  margin: 50px auto;
}

.btn {
  display: block;
  min-width: 300px;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 18px;
  margin: 25px auto;
  border-radius: 30px;
  color: white;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
}

.ios {
  background-color: hsl(171, 66%, 44%);
  border: 1px solid hsl(171, 66%, 44%);
  box-shadow: 0px 3px 12px -3px hsl(171, 66%, 44%);
}

.mac {
  background-color: hsl(233, 100%, 69%);
  border: 1px solid hsl(233, 100%, 69%);
  box-shadow: 0px 3px 12px -3px hsl(233, 100%, 69%);
}

.icons {
  display: block;
  margin: 30px auto 10px auto;
}

.workflow {
  padding-bottom: 40px;
}

.companylogos,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companies {
  width: 130px;
  margin: 20px auto;
}

ul {
  list-style: none;
}

footer {
  background-color: rgb(245, 246, 248);
}

.footerLogo {
  padding: 40px 2px;
  width: 50px;
}

.otherInfo {
  font-size: 1.2rem;
  text-align: center;
}

.otherInfo li {
  padding-bottom: 20px;
}

.social {
  margin: 30px auto;
  display: flex;
}

.social li {
  display: block;
  margin: 10px 20px;
}

a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

@media screen and (min-width: 1300px) {
  .bg {
    background: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.8)
      ),
      url("./img/bg-header-desktop.png") top/cover no-repeat;
    height: 250px;
  }

  .text-container {
    display: flex;
    justify-content: center;
  }

  span {
    display: inline;
  }

  .text {
    max-width: 580px;
  }

  .desktop-buttons {
    display: flex;
    justify-content: center;
  }

  .btn {
    display: inline-block;
    min-width: 220px;
    margin-right: 10px;
  }

  .track {
    display: flex;
    margin-top: 30px;
  }

  .left {
    width: 60%;
    background: url("./img/image-computer.png") right/contain no-repeat;
    height: 500px;
    margin-left: -240px;
  }

  .computer {
    display: none;
  }

  .devices {
    max-width: 700px;
  }

  .right {
    width: 40%;
    text-align: left;
    margin-left: 100px;
  }

  .alignLeft {
    text-align: left;
  }

  .right p {
    margin-left: -20px;
    max-width: 400px;
  }

  .right h2 {
    margin-bottom: -10px;
  }

  .companylogos,
  .productivity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  .productivity-child {
    max-width: 400px;
  }

  .blacklist {
    width: 34px;
  }

  footer {
    flex-direction: row;
  }

  .clipboard-footer {
    display: flex;
    justify-content: center;
    width: 330px;
  }

  .otherInfo {
    display: flex;
    align-items: center;
    width: 600px;
    height: 120px;
    flex-wrap: wrap;
  }

  .otherInfo li {
    width: 180px;
    text-align: left;
    font-size: 1rem;
    text-transform: capitalize;
  }

  .social {
    width: 300px;
  }
}
