* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

section {
  margin: 100px auto;
}

.bg {
  background: url(./img/bg-header-mobile.png) no-repeat;
  background-size: cover;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.6;
}

.clipboard-logo {
  padding-bottom: 20px;
}

h1,
h2,
p {
  text-align: center;
}

h1,
h2 {
  padding-top: 30px;
}

p {
  color: hsl(201, 11%, 66%);
  padding: 20px;
  line-height: 1.7;
  font-size: 1.05rem;
}

.devices {
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: block;
  min-width: 300px;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 18px;
  margin: 25px auto;
  border-radius: 30px;
  border: none;
  color: white;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
}

.ios {
  background-color: hsl(171, 66%, 44%);
}

.mac {
  background-color: hsl(233, 100%, 69%);
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.companylogos,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companies {
  width: 130px;
  margin: 20px auto;
}

ul {
  list-style: none;
}

footer {
  background-color: rgb(245, 246, 248);
}

.footerLogo {
  padding: 40px 2px;
  width: 60px;
}

.otherInfo {
  font-size: 1.2rem;
  text-align: center;
}

.otherInfo li {
  padding-bottom: 20px;
}

.social {
  margin: 30px auto;
  display: flex;
}

.social li {
  display: block;
  margin: 10px 20px;
}

a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}
